.title-padder {
  padding: $title-padding;
}

h1.title {
  @extend .subtle-txt-shadow;
  padding: 0.5em 0;
}

article:has(> header h1#About) {
  padding-top: 1.5%;

  > header {
    margin-bottom: 3%;
  }

  .title-padder {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }

  h1#About {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
}


.subtitle {
  @extend .subtle-txt-shadow;
  font-weight: normal;
  margin-top: 5px;
}
